{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Created_at</th>
                <th>Adress</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.firstName }}</td>
                <td>{{ utilisateur.lastName }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>{{ utilisateur.createdAt ? utilisateur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.adress }}</td>
                <td>
                    <a href="{{ path('app_utilisateurs_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateurs_new') }}">Create new</a>
{% endblock %}
