{% extends 'base.html.twig' %}

{% block title %}Objects index{% endblock %}

{% block body %}
   
   <div
      class="hero page-inner overlay"
      style="background-image: url({{asset('images/hero_bg_1.jpg')}})"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Biens immobiliers</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Biens immobiliers
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-lg-6 text-center mx-auto">
            <h2 class="font-weight-bold text-primary heading">
              Propriétés à vendre
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="property-slider-wrap">
              <div class="property-slider">

              {% for object in objects %}
                <div class="property-item">
                  <a href="{{ path('app_objects_show', {'id': object.id}) }}" class="img">
                    <img src="{{ object.mainImg }}" alt="Image" class="img-fluid" style="width:100%; height:380px;" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>{{ object.price|currency_name }} TND</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >{{ object.location }}</span
                      >
                      <span class="city d-block mb-3">{{ object.title }}</span>

                      {# <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                      </div> #}

                      <a
                        href="{{ path('app_objects_show', {'id': object.id}) }}"
                        class="btn btn-primary py-2 px-3"
                        >Voir details</a
                      >
                    </div>
                  </div>
                </div>
                {% else %}
                    <p>Aucun biens trouvés !</p>
                <!-- .item -->
               {% endfor %}
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-lg-3">Pagination (1 of 10)</div>
          <div class="col-lg-6 text-center">
            <div class="custom-pagination">
              <a href="#">1</a>
              <a href="#" class="active">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>


{% endblock %}
