{% extends 'base.html.twig' %}

{% block title %}Visites index{% endblock %}

{% block body %}
    <h1>Visites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_utilisateur</th>
                <th>Id_object</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in visites %}
            <tr>
                <td>{{ visite.id }}</td>
                <td>{{ visite.idUtilisateur }}</td>
                <td>{{ visite.idObject }}</td>
                <td>{{ visite.createdAt ? visite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_visites_show', {'id': visite.id}) }}">show</a>
                    <a href="{{ path('app_visites_edit', {'id': visite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_visites_new') }}">Create new</a>
{% endblock %}
