{% extends 'base.html.twig' %}

{% block title %}Visites{% endblock %}

{% block body %}
    <h1>Visites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visite.id }}</td>
            </tr>
            <tr>
                <th>Id_utilisateur</th>
                <td>{{ visite.idUtilisateur }}</td>
            </tr>
            <tr>
                <th>Id_object</th>
                <td>{{ visite.idObject }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ visite.createdAt ? visite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_visites_index') }}">back to list</a>

    <a href="{{ path('app_visites_edit', {'id': visite.id}) }}">edit</a>

    {{ include('visites/_delete_form.html.twig') }}
{% endblock %}
